.clear{
    clear:both;
}
.main{
    float: right;
    width:78%;
    padding-left: 10px;

}
.top {
    width:100%;
    height: 92px;
    text-align: center;
    font-size: 250%;
	font-family: "Cambria", Cambria, SansSerif, serif;
    border-bottom: 4px solid gray;
}
.left {
    height: 90%;
    float:left;
    width: 20%;

    border-right: 3px solid gray;
}

.txt {
    height: 100%;
    width: 100%;
    min-height:200px;
}